# Base de datos
MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxxx.mongodb.net/usf_portal?appName=Cluster0

# Autenticación
JWT_SECRET=cambia_esto_por_algo_muy_seguro_y_largo
BCRYPT_SALT_ROUNDS=10

# Servidor
PORT=3000
NODE_ENV=development

# Pagos (opcional para fase inicial)
# STRIPE_SECRET_KEY=sk_test_xxx
# STRIPE_WEBHOOK_SECRET=whsec_xxx
