PORT=3000
MONGODB_URI=mongodb://localhost:27017/usf_portal
JWT_SECRET=cambia_esto_por_una_clave_segura_de_64_chars
JWT_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=TU_GOOGLE_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=TU_GOOGLE_CLIENT_SECRET
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback
FRONTEND_URL=http://localhost:4200
NODE_ENV=development
